<ion-modal-view ng-controller=" CallController as call_ctrl">
   <ion-header-bar>
      <h1 class = "title">{{ call_ctrl.username }}</h1>
   </ion-header-bar>
	
   <ion-content>
      <button class = "button icon icon-left ion-ios-close-outline"
         <h3>
          {{ call_ctrl.calling_stat}}
         </h3>
         <div class="time_div">
         	
         	{{ call_ctrl.time }}

         </div>
         <audio id="audio"> </audio>
        <button class="button button-stable  button-block" id="login-button4" ng-click="stopCall(call_ctrl.username)">Stop Call</button>
   </ion-content>
</ion-modal-view>