ion-content {
    margin-bottom: 50px !important;
}

.no-border {
	border: none;
}

.user {
    font-weight: bold;
}

.current-user {
	float: left;
    clear: both;
}

.not-current-user {
	float: right;
	clear: both;
}

.current-user .details {
	background-color: #72CBFF;
}

.not-current-user .details {
    background-color: #DCDCDC;
}
/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}
